# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
remove_files_not_containing_class_from_19-*.tar

# Temporary files, for example, from tests.
/tmp/

/labels/test2007/*.txt
/labels/train2007/*.txt
/labels/train2012/*.txt
/labels/val2007/*.txt
/labels/val2012/*.txt

/images/test2007/*.jpg
/images/train2007/*.jpg
/images/train2012/*.jpg
/images/val2007/*.jpg
/images/val2012/*.jpg


/output/labels/test2007/*.txt
/output/labels/train2007/*.txt
/output/labels/train2012/*.txt
/output/labels/val2007/*.txt
/output/labels/val2012/*.txt

/output/images/test2007/*.jpg
/output/images/train2007/*.jpg
/output/images/train2012/*.jpg
/output/images/val2007/*.jpg
/output/images/val2012/*.jpg
